+b.header
	.container
		.row
			.col-lg-12.col-sm-12
				+b.logo
					+e.title There is no other platforms <br>for you as like	
				+b.image
							
				+b.button
					button(src="#", alt="") TRY NOW
				+b.try
					+e.title * No need to add cards details

+b.section2
	.container
		.row
			.col-lg-7
				+b.title
					+e.titlered NEW DESIGN
					+e.titleblack There is no other platforms <br> for you as like <span>....
					+e.p
						p(class="scrollflow -slide-right -opacity") Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis <br> vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur <br> blandit tempus porttitor. Etiam porta sem malesuada magna mollis <br>euismod. Vestibulum id ligula porta felis euismod semper.<br> <br> Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Donec<br> ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum<br> nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
			.col-lg-5


+b.section3
	.container
		+b.title
			+e.titlered1 NEW FEATURES
			+e.titleblack1 Some awesone features
		.row
			.col-lg-4
					+e.logo
						img(src="../../images/picture1.png", alt="")
					+e.title Some awesone features
					+e.discription 
						p(class="scrollflow -slide-right -opacity") Donec sed odio dui. Aenean lacinia bibendum <br> nulla sed consectetur. Nulla vitae elit libero,<br> a pharetra augue.
			.col-lg-4
					+e.logo
						img(src="../../images/airplane.png", alt="")
					+e.title Some awesone features
					+e.discription 
						p(class="scrollflow -slide-bottom -opacity") Donec sed odio dui. Aenean lacinia bibendum <br> nulla sed consectetur. Nulla vitae elit libero,<br> a pharetra augue.
			.col-lg-4
					+e.logo
						img(src="../../images/bulb.png", alt="")
					+e.title Some awesone features
					+e.discription 
						p(class="scrollflow -slide-left -opacity") Donec sed odio dui. Aenean lacinia bibendum <br> nulla sed consectetur. Nulla vitae elit libero,<br> a pharetra augue.

+b.descrip
	.container
		.row
			.col-lg-6
				+b.display
					+e.mac
						img(src="../../images/macbook.png", alt="")
			.col-lg-6
				+b.title
					+e.titlered2 NEW DESIGN
					+e.titleblack2 Resposive design, just <br>need your tap <span> ....
					+e.titlebody2 
						p(class="scrollflow -slide-left -opacity") Aenean eu leo quam. Pellentesque ornare sem lacinia quam <br>venenatis vestibulum. DoneAc id elit non mi porta gravida at eget <br>metus. Curabitur blandit tempus porttitor. Etiasem malesuada <br>magn. Vestibulum felis euismod semper.
+b.clients
	.container
		.row
			.col-lg-4
				+e.logo
					img(src="../../images/Rectangle 28.png", alt="")
				+e.title Jonathon Doe
				+e.titleclient Co Founder
				+e.discription 
					p(class="scrollflow -slide-right -opacity") “Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id gravida at eget metus. Etiasem malesuada magn”
			.col-lg-4
				+e.logo
					img(src="../../images/Rectangle 28.png", alt="")
				+e.title Jonathon Doe
				+e.titleclient Co Founder
				+e.discription 
					p(class="scrollflow -slide-bottom -opacity") “Pellentesque ornare sem lacinia quam. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn”
			.col-lg-4
				+e.logo
					img(src="../../images/Rectangle 28.png", alt="")
				+e.title Jonathon Doe
				+e.titleclient Co Founder
				+e.discription 
					p(class="scrollflow -slide-left -opacity") “Aenean eu leo quam. Pellentesque ornare sem lacinia qua emere wancerid elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn”
			+e.firm
				img(src="../../images/partner-logo-1.png", alt="")
				img(src="../../images/partner-logo-4.png", alt="")
				img(src="../../images/partner-logo-5.png", alt="")
				img(src="../../images/partner-logo-7.png", alt="")
				img(src="../../images/partner-logo-8.png", alt="")


+b.browser
	.container
		.row
			.col-lg-12
				+b.title
					+e.titlered3 NEW FEATURES
					+e.titleblack3 SOME AWESOME FEATURES
					+e.discription3 
						p(class="scrollflow -slide-bottom -opacity") Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.<br> Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.<br>Etiasem malesuada magn. Vestibulum felis euismod semper.
					+e.pict
						img(src="../../images/browser.png", alt="")
				+b.steps

+b.trynow
	.container
		+b.title
			+e.titlered1 NEW FEATURES
			+e.titlewhite Over 1000 designers are using ...
		.row
			.col-lg-3
				+b.input-menu
					+e.form
						input(type="text", placeholder='FULL NAME')
			.col-lg-3
				+b.input-menu
					+e.form
						input(type="email", placeholder='YOUR EMAIL')
			.col-lg-3
				+b.input-menu
					+e.form
						input(type="password", placeholder='PASSWORD')
			.col-lg-3
				+b.titlesmall
					+e.arrow
						img(src="../../images/ARROW.png", alt="")
					+e.title 30 days free trial for all.
				+b.butt
					button(src="#", alt="") TRY NOW
		+b.term
			+e.rule By Signing up you agree to our terms & Services.


+b.footer
	.container 
		.row
			.col-lg-3
				+b.logotip
					+e.logo
						img(src="../../images/Logo.png", alt="")
				+b.discription
					+e.title Aenean lacinia bibendum nulla sed <br> consectetur. Aenean eu leo quam. <br> USA &  CAN: 1-888-123-4567 <br>Address: 34 Brokel Rd. NY
			.col-lg-2
				+b.footer-menu
					+e.title Support
					+e.UL.list
						li
							+e.A.link(href="#") Help Center
						li
							+e.A.link(href="#") Get Started
						li
							+e.A.link(href="#") Contact US
			.col-lg-2
				+b.footer-menu
					+e.title About US
					+e.UL.list
						li
							+e.A.link(href="#") About US
						li
							+e.A.link(href="#") Terms of Use
						li
							+e.A.link(href="#") Privacy Policy
			.col-lg-3
				+b.footer-menu
					+e.title Get Newsletter
					+e.form
						input(class="one" type="email", placeholder='EMAIL')
						input(class="two" type="button")
					+e.social
						img(src="../../images/dribbble.png", alt="")
						img(src="../../images/facebook.png", alt="")
						img(src="../../images/googleplus.png", alt="")
						img(src="../../images/twitter.png", alt="")
			.col-lg-2


	include _menu