@import "parts/bootstrap"
@import "parts/font-awesome.css"

@import "parts/header"
@import "parts/general"
@import "parts/footer"
@import "parts/section2"
@import "parts/section3"
@import "parts/discrip.styl"
@import "parts/clients.styl"
@import "parts/browser.styl"
@import "parts/trynow.styl"

// @media screen { 
// 	div {
// 			margin: auto;
// 			width: 100px;
// 			max-width: 90%; 
// 			min-width: 50px;
// 	}
// 	img {
// 		max-width: 100%;
// 		height: auto;

// 	}
//}

// @media (max-width: 768px) {
// 	div {
// 			margin: auto;
// 			width: 70px;
// 			max-width: 90%; 
// 			min-width: 50px;
// 	}
// 	img {
// 		max-width: 100%;
// 		height: auto;
// 	}
// }


// @media (max-width: 480px) {
//     div{
// 			margin: auto;
// 			width: 50px;
// 			max-width: 90%; 
// 			min-width: 20px;
//     }
//     img {
//         max-width: 100%;
//         height: auto;

//     }
// } 