.fashion-display
	&__mac
		text-align center
		margin-top 100px
		margin-bottom 100px
.fashion-title
	&__titlered2
		margin-top 131px
		font-size 16px
		font-family "Exo"
		color rgb(255, 109, 109)
		line-height 3.125
		text-align left
	&__titleblack2
		font-size 40px
		font-family "Exo"
		color rgb(40, 40, 40)
		line-height 1.25
		text-align left
		span
			color rgb(255, 109, 109)
	&__titlebody2
		margin-top 30px
		font-size 16px
		font-family "Exo"
		color rgba(40, 40, 40, 0.659)
		line-height 1.625