.fashion-footer
	padding 85px 345px 94px 63px
	background-size cover

.fashion-logotip
	&__logo
		width 60px


.fashion-discription
	&__title
		display block
		font-size 14px
		line-height 30px
		font-family $font-family-serif
		letter-spacing 0.04em
		opacity .66

.fashion-footer-menu
	&__title
		display block
		font-size 14px
		line-height 30px
		font-family $font-family-sans-serif
		letter-spacing 0.04em
	
	&__list
		list-style none
		font-size 14px
		line-height 30px
		letter-spacing 0.04em
		font-family $font-family-serif
		opacity .66
		padding 0
		
.fashion-footer-menu
	&__form
		input.one
			margin-top 10px
			padding-left 20px
			width 267px
			height 49px
			border-width 1px
			border-color rgb(78,78,94)
			border-style solid
			border-radius 3px
			background-color #f6f6f6
			opacity .4
			position absolute
		input.two
			margin-top 10px
			background-image url('../../images/btn_sendmail.png')
			background-repeat no-repeat
			background-position center
			border-width 1px
			border-color rgb(255, 109, 109)
			border-style solid
			border-radius 3px
			background-color #ff6d6d
			box-shadow 0px 3px 3px 0px rgba(14, 15, 15, 0.25)
			position absolute
			z-index 107
			left 229px
			width 53px
			height 49px
	&__social
		padding-top 88px
		text-align center
		img
			margin-right 31px
			cursor pointer
		




  
  
  

  