.fashion-section3
	background-image url('../../images/sec3.png')
	background-size cover
	height 630px
	
.fashion-title
	&__titlered1
		margin-top 110px
		font-size 16px
		font-family "Exo"
		color rgb(255, 109, 109)
		line-height 3.125
		text-align center
	&__titleblack1
		font-size 40px
		font-family "Exo"
		color rgb(40, 40, 40)
		line-height 1.25
		text-align center

.fashion-section3
	&__logo
		text-align center
		margin-top 70px
	&__title
		margin-top 29px
		font-size 22px
		font-family "Exo"
		color rgb(40, 40, 40)
		line-height 2.271
		text-align center

	&__discription
		margin-top 12px
		font-size 16px
		font-family "Exo"
		color rgba(40, 40, 40, 0.659)
		line-height 1.625
		text-align center
