.fashion-section2
	background-image url('../../images/bgcolor.png')
	background-size cover
	height 723px

.fashion-title
	&__titlered
		margin-top 186px
		font-size 16px
		font-family "Exo"
		color rgb(255, 109, 109)
		line-height 3.125
		text-align left
	&__titleblack
		font-size 40px
		font-family "Exo"
		color rgb(40, 40, 40)
		line-height 1.25
		text-align left
		span
			color rgb(255, 109, 109)

	&__p
		margin-top 50px
		font-size 16px
		font-family "Exo"
		color rgba(40, 40, 40, 0.659)
		line-height 1.625
