.fashion-trynow
	background-image url('../../images/Rectangle 25.png')
	height 467px
	
.fashion-title
	&__titlered1
		margin-top 70px
	&__titlewhite
		color rgb(255, 255, 255)
		font-size: 40px;
		font-family: "Exo";
		line-height: 1.25;
		text-align: center;
.fashion-titlesmall
	margin-top 40px
	&__title
		margin-top -70px
		margin-left 35px
		font-size 16px
		font-family "Exo"
		color rgb(246, 245, 243)
		line-height 4.688
		position absolute
	&__arrow
		img
			margin-top -10px
			
.fashion-input-menu
	&__form
		input
			border-width 1px
			border-color rgb(255, 255, 255)
			border-style solid
			border-radius 3px
			background-color rgba(246, 245, 243, 0.2)
			opacity 0.502
			width 263px
			height 50px
			padding-left 20px
			margin-top 90px
.fashion-butt
	button
		border-width: 1px;
		border-color: rgb(255, 109, 109);
		border-style: solid;
		border-radius: 3px;
		background-color: rgb(255, 109, 109);
		box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
		position: absolute;
		height 50px
		width 263px
		margin-top 18px
.fashion-term
	&__rule
		font-size 16px
		font-family "Exo"
		color rgba(246, 245, 243, 0.6)
		line-height 4.688
		position absolute
		text-align center
		width 1140px
		margin-top 45px


		